@model IList<Distributor>

@{
    ViewBag.Title = "Administration";
    Layout = "_Layout";
}

<h2>Admin Page</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Email</td>
            <td>AddressLine1</td>
            <td>Phone</td>
            <td>Vehicles Count</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var distributor in Model)
    {
        <tr>
            <td>@distributor.User.Email</td>
            <td>@distributor.AddressLine1
            <td>@distributor.ContactPhone</td>
            <td>@distributor.Vehicles.Count</td>
        </tr>
    }
    </tbody>
</table>
